{% extends "base.html" %}

{% block content %}

<div class="container g-0 col-sm-12 col-md-10 col-lg-10 mx-auto">
    <h2 class="mb-4 text-center" style="padding-top: 10px;">Edit Kid Details</h2>
    <form class="row g-3" method="POST" action="{{ url_for('edit_kid', kid_id=kid['_id']) }}">

        <div class="col-md-6 col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" name="name" class="form-control" autocomplete="off" value="{{ kid['name'] }}" required>
        </div>

        <div class="col-md-6 col-12">
            <label for="gender" class="form-label">Gender</label>
            <select id="gender" name="gender" class="form-control" required>
                <option value="Male" {% if kid['gender'] == 'Male' %}selected{% endif %}>Male</option>
                <option value="Female" {% if kid['gender'] == 'Female' %}selected{% endif %}>Female</option>
            </select>
        </div>

        <div class="col-md-6 col-12">
            <label for="house_number" class="form-label">House Number</label>
            <input type="text" id="house_number" name="house_number" class="form-control" value="{{ kid['house number'] }}" required>
        </div>

        <div class="col-md-6 col-12">
            <label for="dob" class="form-label">Date of Birth</label>
            <input type="date" id="dob" name="dob" class="form-control" value="{{ kid['dob'] }}" required>
        </div>

        <div class="col-md-6 col-12">
            <label for="father_name" class="form-label">Father's Name</label>
            <input type="text" id="father_name" name="father_name" class="form-control" autocomplete="off" value="{{ kid['father name'] }}" required>
        </div>

        <div class="col-md-6 col-12">
            <label for="mother_name" class="form-label">Mother's Name</label>
            <input type="text" id="mother_name" name="mother_name" class="form-control" autocomplete="off" value="{{ kid['mother name'] }}" required>
        </div>

        <div class="col-md-6 col-12">
            <label for="guardian" class="form-label">Guardian</label>
            <input type="text" id="guardian" name="guardian" class="form-control" autocomplete="off" value="{{ kid['guardian'] }}">
        </div>

        <div class="col-md-6 col-12">
            <label for="guardian_phone" class="form-label">Guardian Phone</label>
            <input type="text" id="guardian_phone" name="guardian_phone" autocomplete="off" class="form-control" value="{{ kid['guardian phone'] }}">
        </div>

        <div class="col-md-6 col-12">
            <label for="grade" class="form-label">Grade</label>
            <select id="grade" name="grade" class="form-control" required>
                <option value="" disabled selected hidden>Select Education</option>
                {% for grade in range(1, 11) %}
                <option value="Grade {{ grade }}" {% if kid['grade'] == "Grade " + grade|string %}selected{% endif %}>
                    Grade {{ grade }}
                </option>
                {% endfor %}
                <option value="GCE O/L" {% if kid['grade'] == "GCE O/L" %}selected{% endif %}>GCE O/L</option>
                <option value="GCE A/L" {% if kid['grade'] == "GCE A/L" %}selected{% endif %}>GCE A/L</option>
                </select>
        </div>

        <div class="col-md-6 col-12">
            <label for="school" class="form-label">School</label>
            <input type="text" id="school" name="school" class="form-control" autocomplete="off" value="{{ kid['school'] }}">
        </div>

        <div class="buttons-container d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a onclick="window.history.back();" class="btn btn-secondary">Cancel</a>
        </div>

    </form>
</div>

{% endblock %}
