<!DOCTYPE html>
<html>
  <head>
    <title>Riyasad Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
      .dsflex{
        padding:20px;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
      }


      img{
        padding: 10px;
        height:200px;
        width:auto;
        border-radius: 13px;
        transition:1.5s;
      }

      img:hover{
        height:250px;
      }
    </style>
  </head>
  
  <body>
   <h1>
     Riyaa
   </h1>

    <div>
      <p>

      </p>
    </div>
    <div class="dsflex">
      {% for path in paths %}
        <div class="mycard">
          <img src= {{path}} alt={{path}}>
        </div>
    {% endfor %}
    </div>
    
  </body>
</html>